<h1 class="text-center margin30">Trip</h1>

<h2 class="text-center trip-car"><i class="fa fa-truck"></i><br /></h2>
<h2 class="text-center trip-status">{{myTrip.service.status}}</h2>
<div class="spinner" ng-show="myTrip.service.status == 'driving safely...'"></div>

<ul class="text-center trip-final" ng-show="myTrip.service.status == 'finished'">
  <li><i class="fa fa-car"></i> {{ myTrip.service.minutes }} minutes</li>
  <li><i class="fa fa-clock-o"></i> {{ myTrip.service.miles }} miles</li>
</ul>
<div ui-view></div>
<div class="text-center margin30">
  <button ng-click="myTrip.beginTrip();" class="large" ng-if="myTrip.service.status == 'inactive'">Begin Trip</button>
  <button ng-click="myTrip.endTrip();" class="large" ng-if="myTrip.service.status == 'driving safely...'" ui-sref="trip.map">End Trip</button>
</div>