/* app css stylesheet */


/*
 * Please do not change the version of Foundation - Angular JS module depends
 * up on it. These are overwriting some values.
 */

/*
 * Color Key
 *
 * dark blue: #2e4053
 * lime green: #daf7a6
 * green: #2ecc71
 * sea green: #abebc6
 * aqua green: #1abc9c
 * blue: #3498db
 */

/* General */

body {
  color: #444;
}

*:focus {
  outline: none !important;
}
/* Typography */

body, h1, h2, h3, h4, h5, h6, p, li, th, td {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2e4053;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #3498db;
  font-weight: 600;
}

h1, h2, h3 {
  letter-spacing: 0.05rem;
  line-height: 1.2;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  color: #3498db;
}

p, li, th, td {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

p, li {
  line-height: 1.8;
}

hr {
  margin: 2rem 0;
  border-color: #3498db;
  border-width: 2px 0 0;
}

hr.small-hr {
  max-width: 80px;
}

hr.center {
  margin-right: auto;
  margin-left: auto;
}

strong {
  font-weight: 600;
}

/* Forms */
label {
  font-weight: 600;
  line-height: 1.5;
}

label, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], select, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], select, textarea {
  width: 100%;
  margin: 0.2rem 0 1rem 0;
  padding: 0.5rem 1rem;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], select {
  height: 3.2rem;
}

input[type='file'] {
  padding: 0;
  border: 0;
  line-height: 1;
}

.css-form input.ng-invalid.ng-touched {
   background-color: #FA787E;
 }

 .css-form input.ng-valid.ng-touched {
   background-color: #78FA89;
 }

select {
  background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 30" enable-background="new 0 0 18 30" xml:space="preserve"><path fill="%23999999" d="M17.8,8.8c0,0.3-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3H1.3C1,9.9,0.8,9.7,0.6,9.5 C0.3,9.3,0.2,9.1,0.2,8.8c0-0.3,0.1-0.6,0.3-0.8l7.7-7.7C8.4,0.1,8.7,0,9,0c0.3,0,0.6,0.1,0.8,0.3L17.4,8 C17.7,8.2,17.8,8.5,17.8,8.8z"/><path fill="%23999999" d="M17.4,20.5c0.2,0.2,0.3,0.5,0.3,0.8c0,0.3-0.1,0.6-0.3,0.8l-7.7,7.7C9.6,29.9,9.3,30,9,30 c-0.3,0-0.6-0.1-0.8-0.3L0.6,22c-0.2-0.2-0.3-0.5-0.3-0.8c0-0.3,0.1-0.6,0.3-0.8c0.2-0.2,0.5-0.3,0.8-0.3h15.3 C17,20.1,17.2,20.3,17.4,20.5z"/></svg>');
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-size: 12px;
}

select[multiple='multiple'] {
  height: auto;
  background-image: none;
}

textarea {
  max-width: 100%;
}

/* Buttons */

button, .button {
  border-radius: 3px;
  background-color: #3498db;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.button.expanded {
  width: 100%;
}

.button.on {
  background-color: #1abc9c;
}

.success, .button.success {
  background-color: #2ecc71;
}

/* Navigation */

.tab-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #2e4053;
}

.tab-bar,
.tab-bar-section,
.tab-bar .menu-icon,
.tab-bar .right-small {
  height: 4.3rem;
}

.nav-logo {
  margin-top: 5px;
  width: 180px;
}

ul.off-canvas-list li {
  font-size: 1rem;
}

ul.off-canvas-list li a {
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/* Main Section */
.main-section {
  padding: 100px 0 50px;
}

/* Footer */

#footer {
  width: 100%;
  padding: 30px 0;
  background-color: #3498db;
}

/* Helpers */

.d-reverse-icon {
  background-color: white;
}

.margin30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dark-blue-background {
  background-color: #2e4053;
}

.lime-green-background {
  background-color: #daf7a6;
}

.green-background {
  background-color: #2ecc71;
}

.sea-green-background {
  background-color: #abebc6;
}

.aqua-green-background {
  background-color: #1abc9c;
}

.blue-background {
  background-color: #3498db;
}

.black-background {
  background-color: #000;
}

.dark, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p, .dark li, .dark th, .dark td {
  color: #fff;
}

/* Home, Login, Sign Up */

.home .main-section, .login .main-section, .register .main-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .main-section {
  background-image: url(assets/girl-and-car_2000x1335.jpg);
}

.login .main-section, .register .main-section {
  background-image: url(assets/steering-wheel_2000x1333.jpg);
}

.form-logo {
  display: block;
  max-width: 200px;
  margin: 15px auto;
}

.translucent-section {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}

@media only screen and (min-width: 40.0625em) {
  .translucent-section {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* Trip */

h2.trip-car, .dark h2.trip-car{
  margin-top: 2rem;
  color: #abebc6;
  font-size: 200px;
}

h2.trip-status {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 40.0625em) {
  .trip-car {
    margin-top: 5rem;
  }
  
  .trip-status {
    margin-bottom: 5rem;
  }
}
