  <h1 class="text-center margin30">Find Friends</h1>
  
  <form action="my">
  </form>
  
  
  <form>
    <fieldset>
      <div class="row align-center">
      <legend>Friends</legend>
      
      </div>
    
      <div class="row align-center">
        <form action=" " method="post">
      <input name="list" value="Friends">
          </div>
    
        <div class="row align-center">
      <a class="button">Find Friends</a>
      </div>
    
      </form>
  <div ng-repeat="friend in myFriends.friends" class="col-sm-4 margin20">
      <div class="friends-wrap">
          <img ng-src="{{friend.photo}}" class="img-responsive" alt="">
          <h4>{{friend.name}}</h4>
          <p>{{friend.points_all_time}}</p>
          <p>{{friend.points_this_week}}</p>
      </div><!--team-wrap-->
  </div><!--team col-->