  <h1 class="text-center margin30">Friends</h1>
  
  <div class="text-center">
    <a class="button" ng-class="{on: !myFriends.pointsAll}" ng-click="myFriends.togglePoints();">This Week</a>
    <a class="button" ng-class="{on: myFriends.pointsAll}" ng-click="myFriends.togglePoints();">All Time</a>
  </div>
  <div ng-repeat="friend in myFriends.friends track by friend.email | orderBy: myFriends.points" class="col-sm-4 margin20">
      <div class="friends-wrap">
          <img ng-src="{{friend.photo}}" class="img-responsive" alt="">
          <h4><i class="fa fa-user"></i> {{friend.name}}
          <span style="float:right;" ng-show="myFriends.pointsAll">{{friend.points}}</span>
          <span style="float:right;" ng-hide="myFriends.pointsAll">{{friend.points_this_week}}</span>
          </h4>

      </div><!--team-wrap-->
  </div><!--team col-->