<h1 class="text-center margin30">Update Your Profile Information</h1>

<div id="error-messages" class="error in myProfile.errors">
  <p style="color:red;">{{error}}</p>
</div>

  <legend>Logo Pic</legend>
<form ng-submit="myProfile.updateProfile();">
  <fieldset>
    <div class="row">
      <div class="small-12 columns">
        <label for="user_name">Name</label>
        <input id="user_name" name="user[name]" type="text" placeholder="Name" value="{profile.name}" required>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <label for="user_email">Email</label>
        <input id="user_email" name="user[email]" type="text" placeholder="Email" value="{profile.email}" required>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <img ng-hide="" src="{profile.avatar}">
        <label for="user_avatar">Profile Picture</label>
        <input id="user_avatar" name="user[avatar]" type="file">
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <label for="user_city">City</label>
        <input id="user_city" name="user[city]" type="text" placeholder="City" required>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <label for="user_state">State</label>
        <input id="user_state" name="user[state]" type="text" placeholder="State" maxlength="2" required>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <label for="user_zip_code">Zip Code</label>
        <input id="user_zip_code" name="user[zip_code]" type="text" placeholder="Zip Code" required>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <label for="user_gender">Gender</label>
        <select id="user_gender" name="user[gender]" required>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Other</option>
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <a class="button expanded" href="#">Update Profile</a>
      </div>

  </fieldset>
</form>