<h1 class="text-center">Register</h1>

<form>
  <fieldset>
    <legend>Logo Pic</legend>

    <div class="row">
      <div class="large-4 columns">
        <label for="user_email">Email</label>
        <input id="user_email" name="user[email]" type="text" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label for="user_password">Password</label>
        <input id="user_password" name="user[password]" type="password" placeholder="Enter password">
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label for="user_password">Password Confirmation</label>
        <input id="user_password_confirmation" name="user[password_confirmation]" type="password" placeholder="Enter password confirmation" onChange=>
      </div>
    </div>

    
    <div class="row">
      <div class="large-4 columns">
        <input id="user_remember" name="user[remember]" type="checkbox"><label for="user_remember">Remember Me</label>
      </div>
      
    </div>
    
    <div class="row">
      <div class="large-4 columns">
        <a class="button expanded" href="#">Sign In</a>
      </div>

  </fieldset>
</form>


    def user_params
      params.fetch(:user, {}).permit(:email, :password, :password_confirmation, :name, :role, :avatar, :city, :state, :zip_code, :gender, :custom_gender, :pronouns)
    end