<div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns translucent-section">
  <h2 class="text-center">Login</h2>
  <hr class="small-hr center">

  <div id="error-messages" class="error in loginCtrl.errors">
    <p style="color:red;">{{error}}</p>
  </div>

  <form ng-submit="loginCtrl.login();">
    <div class="row">
      <div class="small-12 columns">
        <label for="user_email">Email</label>
        <input id="user_email" name="user[email]" type="text" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label for="user_password">Password</label>
        <input id="user_password" name="user[password]" type="password" placeholder="Enter password">
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 columns">
        <input id="user_remember" name="user[remember]" type="checkbox"><label for="user_remember">Remember Me</label>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 columns">
        <a class="button expanded" href="#">Sign In</a>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 columns">
        <p class="text-center">Don't have an account? <a href="/#/register">Sign up.</a></p>
      </div>
    </div>
  </form>
</div>