<h1 class="text-center margin-30">Login</h1>

<div id="error-messages" class="error in loginCtrl.errors">
  <p style="color:red;">{{error}}</p>
</div>

<legend>Logo Pic</legend>
<form ng-submit="loginCtrl.login();">
  <fieldset>


    <div class="row">
      <div class="small-12 columns">
        <label for="user_email">Email</label>
        <input id="user_email" name="user[email]" type="text" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label for="user_password">Password</label>
        <input id="user_password" name="user[password]" type="password" placeholder="Enter password">
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <input id="user_remember" name="user[remember]" type="checkbox"><label for="user_remember">Remember Me</label>
      </div>
      
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <a class="button expanded" href="#">Sign In</a>
      </div>

  </fieldset>
</form>